@media (max-width: 991px) {
    .mobile-only {
        display:block !important;
    }

    .user-name {
      font-size: 14px;
    }
 
    .desktop-only {
        display:none !important;
    }
}

.container-alert label {
  font-weight: bold;
}

.table-status-expired {
  color: red;
}

.table-status-processing {
  color: green;
}

.table-status-active {
  color: blue;
}

.table-status-bullet {
  font-size:8px !important; padding:0 4px; display: inline-block; vertical-align: middle;
}

.table-status-desc {
  padding:0 4px; display: inline-block; vertical-align: middle;
}
